data/
*.log
*.tmp
*.bak
*.swo # Vim swap files
*.swp # Vim swap files
old_data/
runs/
video/
*.jpg
*.venv
*.rar
documentation/

*.tar.gz
*.npy
*.csv
*.zip

# Common cache directories
__pycache__/
cache/
*.cache

# (Optional) Ignore VSCode settings and other common IDE metadata
*.vscode/
*.idea/
.DS_Store
/data
.nfs*
